<title th:fragment="title">Pannello di gestione</title>
<div th:fragment="contentDashboard">
    <div class="container">
        <div class="col-lg-12">
            <div class="row">

                <div id="myEmbeddedScene" class="col-lg-8">

                </div>

                <div class="col-lg-4">
                    <ul id="tree1" name="lista" >
                        <li th:each=" binary: ${prototype.binaries}"><a href="#" th:text="${binary.name}"></a>

                            <ul>
                                <li>
                                    <span th:text="${binary.camera}"></span>
                                    <span  th:id="${binary.camera}" class="glyphicon glyphicon-eye-open" onclick="moveCamera(this,this.id)"></span>
                                </li>
                                <li>
                                    <span th:text="${binary.rail.name}"></span>
                                    <span  th:id="${binary.rail.name}" class="glyphicon glyphicon-eye-open" onclick="setVisible(this,this.id)"></span>
                                    <span  th:id="${binary.rail.name}" class="glyphicon glyphicon-plus" onclick="plus(this,this.id)"></span>
                                </li>
                                <li>
                                    <span th:text="${binary.sleeper.name}"></span>
                                    <span  th:id="${binary.sleeper.name}" class="glyphicon glyphicon-eye-open" onclick="setVisible(this,this.id)"></span>
                                    <span  th:id="${binary.sleeper.name}" class="glyphicon glyphicon-plus" onclick="plus(this,this.id)"></span>
                                </li>
                                <li>
                                    Griglie
                                    <span th:id = "${binary.name}" class="glyphicon glyphicon-eye-open" onclick="setVisibleGrid(this,this.id)"></span>
                                    <ul>
                                        <li th:each="grid : ${binary.grids}" >
                                            <span th:text="${grid.name} + '  ' +${grid.number}"></span>
                                            <span  th:id="${grid.name}" class="glyphicon glyphicon-eye-open" onclick="setVisible(this,this.id)"></span>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <span th:text="${binary.supportAList[0].name}+ '  ' +${binary.inventaryBinary.numberSupportA}"></span>
                                    <span  th:id="${binary.supportAList[0].name}" class="glyphicon glyphicon-eye-open" onclick="setVisible(this,this.id)"></span>
                                </li>
                                <li>
                                    <span th:text="${binary.supportBList[0].name}+ '  ' +${binary.inventaryBinary.numberSupportB}"></span>
                                    <span  th:id="${binary.supportBList[0].name}" class="glyphicon glyphicon-eye-open" onclick="setVisible(this,this.id)"></span>
                                </li>
                                <li>
                                    <span th:text="${binary.supportLList[0].name}+ '  ' +${binary.inventaryBinary.numberSupportL}"></span>
                                    <span  th:id="${binary.supportLList[0].name}" class="glyphicon glyphicon-eye-open" onclick="setVisible(this,this.id)"></span>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-12">
                    <button id="screen"> make screen</button>
                    <button id="createpdf"> make pdf</button>
                    <button id="clearScreen"> clear</button>
                </div>
            </div>

        </div>
        <script th:inline="javascript">
            /*<![CDATA[*/
            var prototype = [[${prototype}]];
            console.log(prototype);
            MYSCENE.loadMesh(prototype);
            MYSCENE.init();
            MYSCENE.animation();


            /*]]>*/
        </script>

    </div>
</div>
<div th:fragment="scriptHead">
    <script src="/js/drag.js"></script>
    <script src="/js/three.min.js"></script>
    <script src="/js/three.module.js"></script>
    <script src="/js/TrackballControls.js"></script>
    <script src="/js/OrbitControls.js"></script>

    <script src="/js/DragControls.js"></script>
    <script src="/js/TransformControls.js"></script>
    <script src="/js/ColladaLoader.js"></script>

</div>
<div th:fragment="script">
    <script src="/js/utilityMenu.js"></script>
</div>
