<title th:fragment="title">Pannello di gestione</title>
<div th:fragment="contentDashboard">
    <div class="container">
        <div class="col-lg-12">
            <div class="row">
                <form th:action="@{/prototype/create/}+${prototype.id}" method="post" th:object="${prototype}">
                    <div th:each="binary : ${prototype.binaries}">
                        <br>

                            <div class="form-group">
                                <label class="col-lg-6 control-label">Nome binario </label>
                                <div class="col-lg-6">
                                    <input th:id = "${binary.id}" name ="nameBinary" th:value="${binary.inventaryBinary.nameBinary}" class="form-control input-md"
                                           type="text" onchange="checkname(value,id)">
                                    <div th:id = "'error' + ${binary.id} +'_name'" class="col-lg-6" hidden><span style="color:red"> error! il numero inserito deve essere pari</span></div>

                                </div>
                            </div>
                        <br>
                            <div class="form-group">
                                <label class="col-lg-6 control-label">numeri griglie del binario </label>
                                <div class="col-lg-6">
                                    <div class="col-lg-2">
                                    <input th:value="${binary.inventaryBinary.gridsNumber[0]}"

                                           class="form-control input-md" type="text" disabled>
                                    </div>
                                    <div class="col-lg-2">
                                    <input th:value="${binary.inventaryBinary.gridsNumber[1]}"
                                           class="form-control input-md" type="text" disabled>
                                    </div>
                                        <div class="col-lg-2">
                                    <input th:value="${binary.inventaryBinary.gridsNumber[2]}"
                                           class="form-control input-md" type="text" disabled>
                                        </div>
                                </div>
                            </div>
                            <br>
                            <div class="form-group">
                                <label class="col-lg-6 control-label">numero dei suppporti di tipo A </label>
                                <div class="col-lg-6">
                                    <input th:id = "${binary.id}" name ="supportAnumber" th:value="${binary.inventaryBinary.numberSupportA}"
                                           class="form-control input-md" type="text" onchange="checkpair(value,id)">
                                    <div th:id = "'error' + ${binary.id}" class="col-lg-6" hidden><span style="color:red"> error! il numero inserito deve essere pari</span></div>

                                </div>
                            </div>
                        <br>


                    </div>
                    <input type="submit" value="Submit" id = "button">

                </form>


            </div>


        </div>


    </div>
</div>
<div th:fragment="script">
    <script src="/js/inventary.js"></script>

</div>

