<title th:fragment="title">Pannello di gestione</title>
<div th:fragment="contentDashboard">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <br>
                <br>
                <br>
                <div class="row">

                    <div class="col-lg-4 col-md-6">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-tasks fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">10</div>
                                        <div>lista modelli</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">Mostra lista modelli</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="panel panel-yellow">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-shopping-cart fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">100</div>
                                        <div>Lista pezzi</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">Mostra lista pezzi</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="panel panel-red">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-support fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">3</div>
                                        <div>Notifiche di supporto</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">Mostra notifiche</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-bell fa-fw"></i> Gestione modelli
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">

                                <div class="container">
                                    <a class="btn btn-default orange-circle-button" href="/prototype/add">
                                        <span class="glyphicon glyphicon-plus"/>
                                        <h4><b>Aggiungi<br />modello<br /></b></h4>
                                        <span class="orange-circle-greater-than"></span>
                                    </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div th:fragment="script">

</div>




<!--
<div id="myEmbeddedScene" class="col-lg-8">
                    <a-scene embedded>
                        <a-camera position="1 0 10" user-height="5" look-controls-enabled="true"></a-camera>
                        <a-sphere click-drag position="0 1.25 -1" radius="1.25" color="#EF2D5E"></a-sphere>
                        <a-box click-drag position="-1 0.5 1" rotation="0 45 0" width="1" height="1" depth="1"
                               color="#4CC3D9"></a-box>
                        <a-cylinder position="1 0.75 1" radius="0.5" height="1.5" color="#FFC65D"></a-cylinder>
                        <a-plane rotation="-90 0 0" width="4" height="4" color="#7BC8A4"></a-plane>

                        <a-sky color="#2266CC"></a-sky>
                        <a-entity position="0 0 3.8"></a-entity>
                    </a-scene>
                </div>
-->