<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">


    <title th:replace="${viewDashboard} :: title">Pannello di gestione</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/a-frame_style.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="/template/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/template/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="/template/vendor/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/template/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <div  th:include="${viewDashboard} :: scriptHead"></div>

</head>

<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/dashboard}">Pannello di gestione</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav ">
                <!-- DASHBOARD -->
                <li><a th:href="@{/dashboard}">Dashboard</a></li>
                <!-- END DASHBOARD -->
                <li><a th:href="@{/dashboard}">Dashboard</a></li>
            </ul>

        </div>
    </div>
</nav>

<div class="container" th:include="${viewDashboard} :: contentDashboard"></div>
<script src="/js/jquery-3.1.1.min.js"></script>
<script src="/js/utility.js"></script>
<script src="/js/bootstrap.min.js"></script>
<div  th:include="${viewDashboard} :: script"></div>

</body>
</html>